<div class="carousel hero_slider"
     data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
  <div class="gallery-cell">
  {% for block in section.blocks %}
  {% if block.settings.image %}
  {% render 'image-element', image: block.settings.image, alt: block.settings.image.alt, stretch_width: true, additional_classes: mobile_crop %}
  {% endif %}	
  <div class="slider-caption content">
    {% unless block.settings.pretext == blank and block.settings.title == blank and block.settings.subtitle == blank and block.settings.button1 == blank and block.settings.button2 == blank %}
    <div class="caption position-{{ block.settings.text_position }} js-caption">
      <div class="caption-content align-{{ block.settings.text_align }}">
        {% if block.settings.pretext != blank %}
        <div class="pretext">
          {{ block.settings.pretext }}
        </div>
        {% endif %}

        {% if forloop.first == true and block.settings.title != blank %}
        <h1 class="headline">
          {{ block.settings.title }}
        </h1>
        {% elsif block.settings.title != blank %}
        <p class="headline">
          {{ block.settings.title }}
        </p>
        {% endif %}

        {% if block.settings.subtitle != blank %}
        <div class="subtitle">
          {{ block.settings.subtitle }}
        </div>
        {% endif %}
      </div>
    </div>
    {% endunless %}
  </div>
  {% endfor %}
</div>
</div>

<style>
  .hero_slider:focus-visible {
    outline-offset: 0;
    box-shadow: none;
    outline: none;
  }
</style>


{% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section--slideshow under-menu",
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "select",
      "id": "slideshow_text_animation",
      "label": "Text animation",
      "default": "fadeInDown",
      "options": [
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeInDown",
          "label": "Fade Down"
        },
        {
          "value": "",
          "label": "None"
        }
      ]
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Transition",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ]
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Change slides every",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "id": "activate_adaptiveHeight",
      "label": "Enable adaptive height",
      "info": "Slideshow will adjust based on height of individual slides",
      "default": false
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "mobile_text_below_image",
      "label": "Show text below image",
      "default": true
    },
    {
      "type": "color",
      "id": "mobile_text_color",
      "label": "Text below image",
      "info": "Set this to “None” to use the “Regular text” color."
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 1000px recommended"
        },
        {
          "type": "richtext",
          "id": "pretext",
          "label": "Preheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First slide link"
        },
        {
          "type": "select",
          "id": "button1_style",
          "label": "First button color",
          "options": [
            {
              "value": "global-button--primary",
              "label": "Primary button"
            },
            {
              "value": "global-button--banner",
              "label": "Banner button (outline)"
            },
            {
              "value": "global-button--banner-highlighted",
              "label": "Banner button (solid)"
            },
            {
              "value": "global-button--banner-text",
              "label": "Banner text button (outline)"
            },
            {
              "value": "global-button--banner-text-highlighted",
              "label": "Banner text button (solid)"
            }
          ],
          "default": "global-button--banner"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Second slide link"
        },
        {
          "type": "select",
          "id": "button2_style",
          "label": "Second button color",
          "options": [
            {
              "value": "global-button--primary",
              "label": "Primary button"
            },
            {
              "value": "global-button--banner",
              "label": "Banner button (outline)"
            },
            {
              "value": "global-button--banner-highlighted",
              "label": "Banner button (solid)"
            },
            {
              "value": "global-button--banner-text",
              "label": "Banner text button (outline)"
            },
            {
              "value": "global-button--banner-text-highlighted",
              "label": "Banner text button (solid)"
            }
          ],
          "default": "global-button--banner"
        },
        {
          "type": "header",
          "content": "Content layout"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Text contrast",
          "info": "Improve legibility by applying a contrast technique to your banner’s text."
        },
        {
          "type": "select",
          "id": "caption_content_background",
          "label": "Contrast technique",
          "default": "original",
          "options": [
            {
              "value": "original",
              "label": "None"
            },
            {
              "value": "darken_bg",
              "label": "Darken banner image"
            },
            {
              "value": "text_box",
              "label": "Solid box"
            },
            {
              "value": "translucent_text_box",
              "label": "Translucent box"
            }
          ]
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image",
          "info": "Display a different image on mobile screens. This only appears when the desktop image is set."
        },
        {
          "type": "select",
          "id": "mobile_image_crop",
          "label": "Image cropping",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slideshow",
    "category": "Image",
    "settings": {
    }
  }],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
