<section class="lookbook_section">
  <div class="title-wrapper-with-link">
    <h2 class="title">{{ section.settings.title }}</h2>
  </div>
  <div id="allTabsContainer">
    {% for block in section.blocks %}
    <div class="tab-container look_book_div" data-tab-index="{{ forloop.index }}" {% if forloop.index != 1 %}style="display:none;" {% endif %}>
      <div class="griimages">
        <img src={{  block.settings.look_book_img | img_url: 'master'}}>
      </div>
      <div class="grid_content">
        <h2 class="title">{{ block.settings.title }}</h2>
        <p class="grid_text">{{ block.settings.look_book_description  }}</p>
        <button class="button">send</button>
      </div>
    </div>
    {% endfor%}
  </div>
  <div class="lookbook_tabing">
    <ul>
      {% for block in section.blocks %}
      <li class="tab-switcher" data-tab-index="{{ forloop.index }}" tabindex="0">{{ block.settings.lbdate }}</li>
      {% endfor%}
    </ul>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
  $(document).ready(function () {
    var previousActiveTabIndex = 0;

    $(".tab-switcher").on('click keypress', function (event) {
      // event.which === 13 means the "Enter" key is pressed

      if ((event.type === "keypress" && event.which === 13) || event.type === "click") {

        var tabClicked = $(this).data("tab-index");

        if(tabClicked != previousActiveTabIndex) {
          $("#allTabsContainer .tab-container").each(function () {
            if($(this).data("tab-index") == tabClicked) {
              $(".tab-container").hide();
              $(this).show();
              previousActiveTabIndex = $(this).data("tab-index");
              return;
            }
          });
        }
      }
    });
  });
</script>

{% schema %}
{
   "name":"Look Book",
   "settings":[
      {
         "type":"text",
         "id":"title",
         "label":"Title"
      },
      {
         "type":"image_picker",
         "id":"look_book_img1",
         "label":"Look book"
      },
      {
         "type":"radio",
         "id":"direction",
         "label":"Section alignment",
         "options":[
            {
               "value":"row",
               "label":"Row"
            },
            {
               "value":"column",
               "label":"Column"
            },
            {
               "value":"column-reverse",
               "label":"Column Reverse"
            },
            {
               "value":"row-reverse",
               "label":"Row Reverse"
            }
         ],
         "default":"row"
      }
   ],
   "blocks":[
      {
         "type":"Grid_images",
         "name":"Grid Images",
         "settings":[
            {
               "type":"text",
               "id":"title",
               "label":"Title"
            },
            {
               "type":"text",
               "id":"lbdate",
               "label":"Add Tab Text"
            },
            {
               "type":"image_picker",
               "id":"look_book_img",
               "label":"Look book"
            },
            {
               "type":"text",
               "id":"look_book_description",
               "label":"description"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Look Book"
      }
   ]
}

{% endschema %}

